* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background: linear-gradient(to bottom, #000099 0%, #ff0000 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

#loginpage {
  min-height: 100vh;
  margin: 0;
  background-image: url("image/pokemon_field.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-family: system-ui, sans-serif;
}

#mainbody{
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background: transparent;
  background-image: url("image/fantastic-pokemon-home.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: transparent;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #d4d4d4;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

label{
  color: #FFCB05;  
  font-size: 30px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  font-weight: bold;
  margin: 20px;
}



#firstpage{
  font-size: 60px;
  font-weight: bold;
  color: #FFCB05;  
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

#result{
  font-size: 20px;
  font-weight: bold;
  color: #ff0202;
}

input {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

input[type="password"]  {
  
  margin-left:  5px;
  
}

button {
  background-color: #00aee0;
  color: white;
  padding: 15px;
  width: 400px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
}

#greeting{
  font-size: 80px;
  font-weight: bold;
  color: #FFCB05;  
  -webkit-text-stroke: 3px #3C5AA6;

}

.pokemon_card{
  background-color: rgba(137, 19, 206,0.5);
  width: 600px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;

}

#title{
  font-size: 50px;
  background-color: rgba(225, 221, 228, 0.5);
  color: rgb(0, 0, 0);
  margin-right: 500px;
  border-radius: 30px;
  padding: 20px;
  
}
.pokemon_picture{
  margin: 10px;
}

#collection_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  /* allow wrapping */
  gap: 20px; 

}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  /* allow wrapping */
  gap: 20px; 

}

.pokemon_detail{
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.pokemon_card img {
  transition: transform 0.3s ease;
}
.pokemon_card img:hover {
  transform: scale(1.2); /* enlarge to 120% */
}

#input_form{
  background-color: rgba(59, 55, 61, 0.5);
  
  flex-wrap: wrap;  /* allow wrapping */
  gap: 20px; 
  padding: 10px;
  border-radius: 30px;
}

button#summit {
  background-color: #3fe000;
  color: rgb(0, 0, 0);
  padding: 0px;
  width: 200px;
  font-size: 30px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 0px;
  margin: 10px;
}